In [ ]:
#파이썬 자료구조에는 리스트, 듀플, 딕셔너리가 있음
#딕셔너리는 key(레이블):value(데이터) 쌍을 가짐
#딕셔너리는 순서가 없는 자료구조로, 숫자인덱싱 X, key를 사용한 인덱싱만 지원

#시리즈: 1차원 데이터를 관리하는 자료 구조

In [1]:
#시리즈 소개
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
#시리즈 생성_ver.1
from pandas import Series

data = [10, 20, 30]
s = Series(data) #시리즈 객체 생성
print(s)
#dtype: int64 -> 데이터타입: 64비트 정수가 시리즈에 저장

0    10
1    20
2    30
dtype: int64

In [3]:
#시리즈 생성_ver.2(넘파이 사용)
from pandas import Series

data = np.arange(5)
s = Series(data)
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [5]:
data = ["시가", "고가"]
s = Series(data)
print(s)
#판다스에서 문자열은 object로 표기
#파이썬 문자열과 정수형 타입을 하나의 시리즈로 -> 전체 데이터가 object 타입으로 관리
#-> object 타입의 시리즈는 브로드캐스팅 기능을 활용한 수치 연산 불가
#-> 효용성을 위해 시리즈에는 같은 데이터 타입을 저장할 것

0    시가
1    고가
dtype: object

In [7]:
#시리즈 인덱스
from pandas import Series

data = [1000, 2000, 3000]
s = Series(data)
print(s.index)
#index라는 변수에는 구간 정보를 저장하는 자료구조로 RangeIndex 객체가 들어가 있음
#0부터 2까지 1씩 증가하는 숫자가 들어있음
print(s.index.to_list())
#index에 to_list 메서드를 호출하면, 파이썬리스트로 값을 변환

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [8]:
data = [1000, 2000, 3000]
s = Series(data)
s.index = ["메로나", "구구콘", "하겐다즈"]
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [9]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]

s = Series(data, index)
#시리즈 생성 시 데이터와 인덱스를 차례로 전달
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [10]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]

s = Series(data=data, index=index)
#keyword argument: 시리즈 객체를 생성할 때 파라미터의 이름을 직접 지정
#시리즈 클래스에 정의된 변수 이름 = 입력할 데이터가 저장된 변수 이름
#-> data 파라미터에 가격이 정의된 라인 1의 리스트를, index 파라미터에 라인 2의 리스트를 대입하라는 뜻

In [11]:
v = [1000, 2000, 3000]
k = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=v, index=k)

In [13]:
data = [1000, 2000, 3000]
index = ['메로나', '구구콘', '하겐다즈'] #질문1: 여긴 왜 작은따옴표?
s = Series(data=data, index=index)
s2 = s.reindex(["메로나", "비비빅", "구구콘"])
#reindex 메서드: 인자로 전달한 새로운 값으로 인덱스를 변경
print(s2)
# 기존에 있던 인덱스는 기존 값을 사용, 새로운 인덱스에는 NaN(결측값)

메로나    1000.0
비비빅       NaN
구구콘    2000.0
dtype: float64

In [14]:
print(s2.fillna(0))
#fillna: NaN을 0으로 변경

메로나    1000.0
비비빅       0.0
구구콘    2000.0
dtype: float64

In [15]:
s2 = s.reindex(["메로나", "비비빅", "구구콘"], fill_value=0)
#reindex 메서드 사용 시 fill_value 파라미터 사용해서 한 번에 처리 가능

In [19]:
price = [42500, 42550, 41800, 42550, 42650]
data = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = Series(price, data)
print(s)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [20]:
#딕셔너리 사용(key가 인덱스, value가 데이터) (key :value)
data = {
    "2019-05-31" : 42500,
    "2019-05-30" : 42550,
    "2019-05-29" : 41800, 
    "2019-05-28" : 42550, 
    "2019-05-27" : 42650
}
s = Series(data)

In [22]:
#시리즈 객체는 index와 values라는 속성을 통해 인덱스와 값 분리 가능
print(s.index)
print(s.index.dtype)

Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')
object

In [23]:
print(s.values)
#데이터 사이에 콤마가 없음 -> ndarray

[42500 42550 41800 42550 42650]

In [24]:
#시리즈 인덱싱: 행 번호와 인덱스를 사용해서 자료구조 속 하나의 값에 접근
#인덱스 이외에서 행 번호가 자동으로 부여됨
#iloc 연산: 행 번호 사용 인덱싱, loc 연산: 인덱스 사용 인덱싱

#iloc 연산
from pandas import Series #시리즈 생성

data = [1000, 2000, 3000]
s = Series(data=data) #keyword argument: 파라미터 직접 지정

print(s.iloc[0]) #0은 첫 시작 위치를 뜻함
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1]) #-1은 가장 마지막 위치

1000
2000
3000
3000

In [26]:
#loc 연산
from pandas import Series #시리즈 생성

data = [1000, 2000, 3000]
s = Series(data=data) #keyword argument: 파라미터 직접 지정

print(s.loc[0])
print(s.loc[1])
print(s.loc[2])
print(s.loc[-1]) #질문2: 왜 여기서만 에러가 나지?

1000
2000
3000

KeyError: -1

In [28]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

print(s.iloc[0])
print(s.loc['메로나'])

1000
1000

In [29]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

#인덱싱 기호 '[]'만을 사용해서 인덱싱 가능. 시리즈가 알맞은 데이터 찾아서 반환
print(s[0])
print(s['메로나'])

1000
1000

In [30]:
#기본적으로 []기호는 내부적으로 loc메서드 호출하니까 조심해서 사용
s1 = Series([10, 20, 30])
s2 = Series([10, 20, 30], index[1, 2, 3])
print(s1[0]) 
print(s2[0]) #인덱스가 각각 맵핑되어있는데, 인덱스 0은 없어 에러 발생

TypeError: list indices must be integers or slices, not tuple

In [31]:
#인덱스의 타입이 정수가 아닌 경우에 정수와 함께 [] 인덱싱 사용하면 iloc연산처럼 동작
s3 = Series([10, 20, 30], index=['a', 'b', 'c'])
print(s3[0])

10

In [32]:
#시리즈의 인덱스에서도 [] 인덱싱 사용 가능
print(s3.index[0])
print(s3.index[-1])

a
c

In [33]:
#시리즈 슬라이싱: 연속적인 범위의 값을 가져옴(iloc,loc,[] 사용)
from pandas import Series

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)
print(s.iloc[0:2]) #질문3: 왜 2값이 안 나오지?

메로나    1000
구구콘    2000
dtype: int64

In [34]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

print(s.loc['메로나':'구구콘'])

메로나    1000
구구콘    2000
dtype: int64

In [35]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

indice = [0, 2]
print(s.iloc[ indice ])
print(s.iloc[ [0,2] ]) #바깥쪽 대괄호는 인덱싱 기호, 안쪽 대괄호는 리스트 기호

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

In [36]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

indice = ["메로나", "하겐다즈"]
print(s.loc[indice])
print(s.loc[["메로나", "하겐다즈"]])

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

In [37]:
#시리즈 수정/추가/삭제
from pandas import Series

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

s.loc['메로나'] = 500 #값 수정
#s.iloc[0] = 500
#s['메로나'] = 500
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
dtype: int64

In [38]:
s.loc['비비빅'] =500 #값 추가
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [39]:
print(s.drop('메로나')) #값 삭제: drop 메서드 사용
print(s.drop(0)) #drop 메서드는 꼭 시리즈의 인덱스만 사용!

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

KeyError: '[0] not found in axis'

In [40]:
#안전하게 삭제하기: drop 메서드 호출 후 변수에 바인딩하도록 코드 작성하기
s = s.drop('메로나')
print(s)
#이 방법으로 코드 작성하기!!

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [41]:
#시리즈 연산: 브로드캐스팅 적용. 같은 인덱스를갖는 데이터끼리 연산
from pandas import Series

철수 = Series([10, 20, 30], index=['Naver', 'SKT', 'KT'])
영희 = Series([10, 30, 20], index=['SKT', 'KT', 'NAVER'])
가족 = 철수 + 영희
print(가족)

KT       60.0
NAVER     NaN
Naver     NaN
SKT      30.0
dtype: float64

In [42]:
print(철수 * 10)

Naver    100
SKT      200
KT       300
dtype: int64

In [43]:
high = Series([42800, 42700, 42050, 42950, 43000])
low = Series([42150, 42150, 41300, 42150, 42350])

diff = high - low
print(diff)

0    650
1    550
2    750
3    800
4    650
dtype: int64

In [44]:
print(diff.max())

800

In [45]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800, 42700, 42050, 42950, 43000], index=date)
low = Series([42150, 42150, 41300, 42150, 42350] , index=date)
diff = high - low
print(diff)

6/1    650
6/2    550
6/3    750
6/4    800
6/5    650
dtype: int64

In [46]:
max_idx = 0 #가장 큰 값이 있는 인덱스 저장할 변수 초기화
max_val = 0 #현재까지의 최대값 저장할 변수 초기화

for i in range(len(diff)): #diff배열의 길이만큼 반복
    if diff[i] > max_val: 
        max_val = diff[i] #diff[i]가 더 크면 그 값을 최대값으로 업데이트
        max_idx = i #그 값이 있는 인덱스를 저장

print(max_idx)
print(diff.index[max_idx])

3
6/4

In [47]:
#메서드 호출. 반복문 대신 메서드만 호출하면 됨
print(diff.idxmax())
print(diff.idxmin())

6/4
6/2

In [48]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800, 42700, 42050, 42950, 43000], index=date)
low = Series([42150, 42150, 41300, 42150, 42350] , index=date)
profit = high / low
print(profit)

6/1    1.015421
6/2    1.013049
6/3    1.018160
6/4    1.018980
6/5    1.015348
dtype: float64

In [49]:
#누적수익률 = 모든 수익률을 누적해서 곱함
#cumprod메서드
print(profit.cumprod())

6/1    1.015421
6/2    1.028671
6/3    1.047351
6/4    1.067230
6/5    1.083610
dtype: float64

In [51]:
#cumprod 메서드를 적용한 결과가 다시 시리즈이니 인덱싱으로 하나의 값 가져오기 가능
print(profit.cumprod().iloc[-1])

1.0836101509172456

In [52]:
#유일한 값 뽑아내고 데이터 개수 카운트하는 법
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

In [53]:
#중복 제거하고 업종 리스트 가져오기
#unique 메서드
print(s.unique())

['전기,전자' '운수장비' '서비스업']

In [54]:
#시리즈 안에 업종이 몇 번 존재하는지 횟수 세기
#value_counts
s.value_counts()

전기,전자    2
서비스업     2
운수장비     1
Name: count, dtype: int64

In [55]:
#시리즈와 map 메서드: 파이썬이 제공하지 않는 기능을 시리즈에 적용
def remove_comma(x) : #remove_comma: 파라미터를 한 개 입력받아 그 값을 그대로 리턴하는 함수
    print(x, 'in function')
    return x

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)

1,234 in function
5,678 in function
9,876 in function
0    1,234
1    5,678
2    9,876
dtype: object

In [57]:
from pandas import Series

def remove_comma(x):
    return int(x.replace(",","")) #replace 메서드 #int: 정수형으로 변환

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)
#dtype: int64은 정수형 데이터타입이라는 뜻

0    1234
1    5678
2    9876
dtype: int64

In [58]:
def is_greater_than_5000(x):
    if x > 5000:
        return "크다"
    else:
        return "작다"

s = Series([1234, 5678, 9876])
s = s.map(is_greater_than_5000)
print(s)

0    작다
1    크다
2    크다
dtype: object

In [59]:
#시리즈 필터링 #비교연산

from pandas import Series

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = Series(data=data, index=index)
cond = s > 42000 #cond: T or F가 시리즈로 저장되어 있음 -> 이를 사용해 색인하는 걸 '불리언 인덱싱'
print(cond)

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

In [60]:
print(s[cond])

2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [62]:
#시가와 종가를 시리즈 객체로 표현 후 종가>시가인지 비교
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = Series(data=open, index=index)
close = Series(data=close, index=index)

cond = close > open
print(cond)

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool

In [63]:
print(close[cond])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [64]:
print(close[close>open])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [65]:
#상승마감한 날짜만 출력
print(close.index[close>open]) #조건이 참인 날짜만 선탣
print(close[close>open].index) #조건으로 시리즈 필터링 한 뒤 인덱스 가져오기

Index(['2019-05-30', '2019-05-27'], dtype='object')
Index(['2019-05-30', '2019-05-27'], dtype='object')

In [66]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = Series(data=open, index=index)
close = Series(data=close, index=index)
diff = close - open
print(diff[close>open])

2019-05-30    350
2019-05-27    150
dtype: int64

In [67]:
#정렬 및 순위
#시리즈 객체는 sort_values라는 자체 정렬 메서드를 가짐 #오름차순
#내림차순 정렬: ascending=False 라고 함수 기본 인자 설정
from pandas import Series

data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)
print(s)

s1 = s.sort_values()
print(s1)

s2 = s.sort_values(ascending=False)
print(s2)

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64
000020     2.0
000010     3.1
000040     5.1
000030    10.1
dtype: float64
000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

In [69]:
#순위 매기기: rank 메서드 #작은 데이터를 1순위로
data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)
print(s.rank())

000010    2.0
000020    1.0
000030    4.0
000040    3.0
dtype: float64

In [71]:
#큰 데이터를 1순위로
print(s.rank(ascending=False))

000010    3.0
000020    4.0
000030    1.0
000040    2.0
dtype: float64