<a href="https://colab.research.google.com/github/gah508/EPOCH_Beginner/blob/main/Pandas2/Dahee_practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#**Ch.4 판다스 데이터프레임 Part1(2)**

### 4.8 컬럼 추가하기

> 데이터프레임은 **동일한 인덱스를 갖는 시리즈가 연결된 형태**임을 생각하기

In [ ]:
from pandas import DataFrame, Series

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037330', '036360', '005760']
columns = ['종목명', '현재가', '등락률']
df = DataFrame(data=data, index=index, columns=columns)

**방법 1.** 데이터프레임에 '목표가'라는 이름의 컬럼 추가

In [ ]:
s = Series(data=[1600, 1600, 1600], index=df.index) #df의 인덱스 전달
df['목표가'] = s
print(df)

          종목명   현재가   등락률   목표가
037330     3R  1510  7.36  1600
036360  3SOFT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

**방법 2.** 시리즈로 값 구성하는 과정 없이 컬럼 이름과 추가 데이터만을 대입해도 가능

In [ ]:
df['목표가'] = 1600
print(df)

          종목명   현재가   등락률   목표가
037330     3R  1510  7.36  1600
036360  3SOFT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

**예시.** '괴리율' 컬럼 추가
> 두 객체가 같은 인덱스를 갖기 때문에 사직연산 적용 가능

> 반복문 사용 없이 자동으로 모든 row에 동일한 연산 적용됨

In [ ]:
df['괴리율'] = (df['목표가'] - df['현재가']) / df['현재가']
print(df)

          종목명   현재가   등락률   목표가       괴리율
037330     3R  1510  7.36  1600  0.059603
036360  3SOFT  1790  1.65  1600 -0.106145
005760   ACTS  1185  1.28  1600  0.350211

### 4.9 로우 추가하기
> 시리즈 객체의 인덱스는 데이터프레임의 컬럼명

In [ ]:
from pandas import DataFrame, Series

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037330', '036360', '005760']
columns = ['종목명', '현재가', '등락률']
df = DataFrame(data=data, index=index, columns=columns)

**방법 1.**

In [ ]:
s = Series(data=['LG전자', 60000, 3.84], index=df.columns)
df.loc['066570'] = s
print(df)

          종목명    현재가   등락률
037330     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

**방법 2.**

In [ ]:
df.loc['066570'] = ['LG전자', 60000, 3.84]
print(df)

          종목명    현재가   등락률
037330     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

**방법3. append** 메서드 사용 (X)

> pandas의 최신 버전에서는 DataFrame.append() 메서드가 제거되고. 대신, pd.concat() 함수를 사용

In [ ]:
import pandas as pd

s = Series(data=['LG전자', 60000, 3.84], index=df.columns, name='066570')
new_df = pd.concat([df, s.to_frame().T]) #시리즈를 데이터프레임으로 변환한 후 전치하여 행으로 맞추기 + 기존 df와 연결

print(new_df)

          종목명    현재가   등락률
037330     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84
066570   LG전자  60000  3.84

### 4.10 컬럼/로우 삭제하기
> 데이터프레임은 drop 메서드 사용

> 파라미터 axis=1은 컬럼 삭제

> 파라미터 axis=0은 로우 삭제

> 원본 데이터프레임 변경은 inplace=True

In [ ]:
from pandas import DataFrame, Series

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037330', '036360', '005760']
columns = ['종목명', '현재가', '등락률']
df = DataFrame(data=data, index=index, columns=columns)

In [ ]:
df_new = df.drop('현재가', axis=1)
print(df_new)

          종목명   등락률
037330     3R  7.36
036360  3SOFT  1.65
005760   ACTS  1.28

In [ ]:
df_new = df.drop('037330', axis=0)
print(df_new)

          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
print(df)

          종목명   현재가   등락률
037330     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037330', '036360', '005760']
columns = ['종목명', '현재가', '등락률']
df2 = DataFrame(data=data, index=index, columns=columns)

In [ ]:
df.drop(['037330', '005760'], axis=0, inplace=True) #inplace=True: 원본 프레임을 바로 수정하는 옵션
print(df2)

KeyError: "['037330', '005760'] not found in axis"

### 4.11 컬럼 레이블 변경
>컬럼 레이블과 인덱스의 이름 수정

>모두 Index 객체로 테이터 관리

>Index는 클래스, index는 클래스의 인스턴트 변수 이름

In [ ]:
from pandas import DataFrame, Series

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037330', '036360', '005760']
columns = ['종목명', '현재가', '등락률']
df = DataFrame(data=data, index=index, columns=columns)
print(df.columns)
print(df.index)

Index(['종목명', '현재가', '등락률'], dtype='object')
Index(['037330', '036360', '005760'], dtype='object')

**방법 1.**

In [ ]:
df.colums = ['name', 'close', 'fluctuation']  #변경할 컬럼의 레이블을 리스트로 정의하고 columns 속성에 바인딩
df.index.name = 'code' #인덱스 name 변경
print(df)

          종목명   현재가   등락률
code
037330     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

**방법 2**. rename 메서드 사용
> columns = {'변경 전 이름':'변경 후 이름'}과 같은 딕셔너리를 메서드의 인자로 전달

> 컬럼명 중 일부만을 변경하고자 할 때 유용함

>inplace=True: 원본 프레임을 바로 수정하는 옵션

In [ ]:
from pandas import DataFrame, Series

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037330', '036360', '005760']
columns = ['종목명', '현재가', '등락률']
df = DataFrame(data=data, index=index, columns=columns)
df.rename(columns={'종목명':'name', '현재가':'close'}, inplace=True)
print(df)

         name  close   등락률
037330     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28

### 4.12 데이터 타입 변경

In [ ]:
from pandas import DataFrame

data = [
    ['1,000', '1,100', '1,500'],
    ['1,410', '1,420', '1,790'],
    ['850', '900', '1,185']
]

colums = ['03/02', '03/03', '03/04']
df = DataFrame(data=data, columns=colums)
print(df)

   03/02  03/03  03/04
0  1,000  1,100  1,500
1  1,410  1,420  1,790
2    850    900  1,185

> **(교재와 다른 점) map 메서드로 데이터 타입을 문자열에서 정수로 변환 안 되는 것 같음**

In [ ]:
def remove_comma(x): #함수 정의
  return x.replace(',', '') #replace 메서드로 콤마 제거

df = df.applymap(remove_comma) #applymap 메서드로 전체 데이터에 연산 적용
print(df)
print(df.dtypes)

  03/02 03/03 03/04
0  1000  1100  1500
1  1410  1420  1790
2   850   900  1185
03/02    object
03/03    object
03/04    object
dtype: object

<ipython-input-71-7fcd2ccddbb8>:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(remove_comma) #applymap 메서드로 전체 데이터에 연산 적용

> astype 메서드로 데이터 타입 변경 -> {변경하려는 칼럼 이름: 데이터 타입}을 딕셔너리로 받음

In [ ]:
import numpy as np #numpy를 np라는 이름으로 임포트
from pandas import DataFrame

def remove_comma(x):
  return x.replace(',', '')

data = [
    ['1,000', '1,100', '1,500'],
    ['1,410', '1,420', '1,790'],
    ['850', '900', '1,185']
]

colums = ['03/02', '03/03', '03/04']
df = DataFrame(data=data, columns=colums)
df = df.applymap(remove_comma)
df = df.astype({'03/02':np.int64, '03/03':np.int64, '03/04':np.int64}) #np.int64는 numpy 모듈의 정수 타입
print(df.dtypes)

03/02    int64
03/03    int64
03/04    int64
dtype: object

<ipython-input-72-9b0adad740e6>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(remove_comma)

> **FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.**

### 4.13 컬럼의 문자열 다루기

In [ ]:
from pandas import DataFrame
import numpy as np

data = [
    {'cd':'A060310', 'nm':'3S', 'close':'2,920'},
    {'cd':'A095570', 'nm':'AJ네트웍스', 'close':'6,250'},
    {'cd':'A006840', 'nm':'AK홀딩스', 'close':'29,700'},
    {'cd':'A054620', 'nm':'APS홀딩스', 'close':'19,400'},
]
df = DataFrame(data=data)
print(df)

        cd      nm   close
0  A060310      3S   2,920
1  A095570  AJ네트웍스   6,250
2  A006840   AK홀딩스  29,700
3  A054620  APS홀딩스  19,400

**전처리 1.** 'cd' 컬럼의 종목코드에서 A를 제거한 후 나머지 6자리를 사용하도록 변경

> 컬럼 선택 후 str 변수에 하나의 문자열 처리를 하듯 슬라이싱 코드 추가

> str은 시리즈에 저장된 문자열 컬럼에만 사용 가능

> str 뒤에 나열된 연산을 시리즈의 모든 데이터에 반복 적용

In [ ]:
df['cd'] = df['cd'].str[1:]
print(df)

      cd      nm   close
0  60310      3S   2,920
1  95570  AJ네트웍스   6,250
2  06840   AK홀딩스  29,700
3  54620  APS홀딩스  19,400

**전처리 2.** 'close' 컬럼에 대해서 콤마를 제거

> 앞서 쓴 map 또는 apply메서드 말고 str 기능 사용

In [ ]:
df['close'] = df['close'].str.replace(',','').astype(np.int64)
print(df)

      cd      nm  close
0  60310      3S   2920
1  95570  AJ네트웍스   6250
2  06840   AK홀딩스  29700
3  54620  APS홀딩스  19400