<a href="https://colab.research.google.com/github/gah508/EPOCH_Beginner/blob/main/Pandas2/jiyun_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 04. 판다스 데이터프레임 Part1

### 4.8 컬럼 추가하기

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame, Series

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]

df = DataFrame(data=data, index= index, columns=columns)

In [ ]:
# 컬럼 추가

s = Series(data=[1600, 1600, 1600], index=df.index) # df의 행 개수와 같은 세 개의 값 저장, 동일한 인덱스
df['목표가'] = s
print(df)

          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1600
036360  3SOFT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

In [ ]:
# 생략

df['목표가'] = 1600
print(df)

          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1600
036360  3SOFT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

In [ ]:
# 기존 시리즈 간의 연산을 통해 새로운 컬럼 추가

df["괴리율"] = (df["목표가"] - df["현재가"]) / df["현재가"] # 두 객체가 같은 인덱스를 갖기 때문에 사칙연산 적용 가능
print(df)

          종목명   현재가   등락률   목표가       괴리율
037730     3R  1510  7.36  1600  0.059603
036360  3SOFT  1790  1.65  1600 -0.106145
005760   ACTS  1185  1.28  1600  0.350211

### 4.9 로우 추가하기

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)

In [ ]:
# 로우 추가하기

from pandas import Series

s = Series(data=["LG전자", 60000, 3.84], index = df.columns) # 하나의 로우를 표현할 것이기 때문에 시리즈 객체의 인덱스는 df의 컬럼명
df.loc ["066570"] = s
print(df)

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [ ]:
# 간단한 표현

# 우변의 리스트를 시리즈로 변경하고 df과 같은 컬럼 레이블을 갖도록 자동 변환
df.loc["066570"] = ["LG전자", 60000, 3.84]
print(df)

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [ ]:
# append 메서드를 이용한 로우 추가

import pandas as pd
from pandas import Series

s = Series(data=["LG전자", 60000, 3.84], index = df.columns, name = "066570") # df의 인덱스로 사용될 종목코드는 시리즈 객체의 name 속성으로 전달
# new_df = df.append(s)
# print(new_df)
# https://growingegg.tistory.com/146
# 이걸 보면 판다스 2.0부터는 append를 지원해주지 않는 듯함 !

# new = pd.DataFrame({s})
# df = pd.concat([df, s.T], ignore_index = True)
# print(df)

TypeError: unhashable type: 'Series'

### 4.10 컬럼/로우 삭제하기

In [ ]:
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)

# 인덱스 또는 컬럼명을 사용해서 데이터를 삭제하는 drop메서드
# axis = 1은 컬럼 삭제 / axis = 0은 로우 삭제

# 특정 컬럼 삭제
df_new = df.drop("현재가", axis=1)
print(df)
print(df_new)
# drop 메서드는 원본 df를 변경하는 것이 아닌 새로운 df를 추가로 리턴함

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28
          종목명   등락률
037730     3R  7.36
036360  3SOFT  1.65
005760   ACTS  1.28

In [ ]:
# 특정 로우 삭제
df_new = df.drop("037730", axis = 0)
print(df)
print(df_new)

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28
          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
# 원본 df을 변경
df.drop("037730", axis = 0, inplace=True)
print(df)

          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
# 한 번에 여러 개의 로우나 컬럼 삭제

# 리스트 형태로 인덱스나 컬럼의 레이블을 넘겨준다
df.drop(["037730", "005760"], axis = 0 , inplace=True)
print(df)

          종목명   현재가   등락률
036360  3SOFT  1790  1.65

### 4.11 컬럼 레이블 변경

In [ ]:
# 데이터 프레임 만들기
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"] # 클래스의 인스턴스 변수 이름(소문자)
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)
print(df.columns)
print(df.index)

# 실행결과: Index는 클래스(대문자)

Index(['종목명', '현재가', '등락률'], dtype='object')
Index(['037730', '036360', '005760'], dtype='object')

In [ ]:
# 컬럼 레이블 변경

# 변경하려는 컬럼 레이블 개수와 기존 정의된 레이블 개수가 동일할 것
df.columns = ["name", "close", "fluctuation"]
df.index.name = 'code' # 인덱스의 이름을 변경
print(df)

         name  close  fluctuation
code
037730     3R   1510         7.36
036360  3SOFT   1790         1.65
005760   ACTS   1185         1.28

In [ ]:
# rename 메서드를 이용한 컬럼 레이블 변경

# {"변경 전 이름": "변경 후 이름"} / 컬럼명 중 일부만을 변경하고자 할 때 유용
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)
df.rename(columns={"종목명":"code"}, inplace=True) # 'inplace=True'는 원본 df를 바로 수정하는 옵셥
print(df)

         code   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

### 4.12 데이터 타입 변경

In [ ]:
# 문자열 타입의 현재가로 데이터 프레임 만들기

from pandas import DataFrame

data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"]
]

columns = ["03/02", "03/03", "03/04"]
df = DataFrame(data=data, columns=columns)
print(df)

   03/02  03/03  03/04
0  1,000  1,100  1,510
1  1,410  1,420  1,790
2    850    900  1,185

In [ ]:
# map 메서드를 사용한 데이터타입 변경

from pandas import DataFrame

data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"]
]

columns = ["03/02", "03/03", "03/04"]
df = DataFrame(data=data, columns=columns)

def remove_comma(x):
    return int(x.replace(',', ''))
# 콤마를 제거하고 정수로 변경

df['03/02'] = df['03/02'].map(remove_comma)
df['03/03'] = df['03/03'].map(remove_comma)
df['03/04'] = df['03/04'].map(remove_comma)
print(df)

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185

In [ ]:
# applymap 메서드를 사용한 데이터타입 변경
# 전체 데이터에 연산을 적용

from pandas import DataFrame

data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"]
]

columns = ["03/02", "03/03", "03/04"]
df = DataFrame(data=data, columns=columns)

def remove_comma(x):
    return int(x.replace(',', ''))

df = df.applymap(remove_comma)
print(df)
print(df.dtypes)

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185
03/02    int64
03/03    int64
03/04    int64
dtype: object

<ipython-input-54-3c7ecd76c72b>:18: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(remove_comma)

In [ ]:
# astype 메서드를 활용한 데이터 타입 변경

import numpy as np
from pandas import DataFrame

def remove_comma(x):
    return x.replace(',', '') # 타입 변환 함수(astype) 사용을 위해 int 호출X

data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"]
]

columns = ["03/02", "03/03", "03/04"]
df = DataFrame(data=data, columns=columns)
df = df.applymap(remove_comma)
df = df.astype({"03/02": np.int64, "03/03": np.int64, "03/04": np.int64})
print(df)
print(df.dtypes)

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185
03/02    int64
03/03    int64
03/04    int64
dtype: object

<ipython-input-2-56c2823460c1>:17: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(remove_comma)

### 4.13 컬럼의 문자열 다루기

In [ ]:
# 문자열 데이터로 구성된 데이터 프레임 만들기
from pandas import DataFrame
import numpy as np

data = [
    {"cd":"A060310", "nm":"3S", "close":"2,920"},
    {"cd":"A095570", "nm":"AJ네트웍스", "close":"6,250"},
    {"cd":"A006840", "nm":"AK홀딩스", "close":"29,700"},
    {"cd":"A054620", "nm":"APS홀딩스", "close":"19,400"}
]
df = DataFrame(data=data)
print(df)

        cd      nm   close
0  A060310      3S   2,920
1  A095570  AJ네트웍스   6,250
2  A006840   AK홀딩스  29,700
3  A054620  APS홀딩스  19,400

In [ ]:
# 'cd'컬럼 종목코드에서 A를 제거한 나머지 6자리 슬라이싱 / 시리즈의 모든 데이터에 반복 적용
df['cd'] = df['cd'].str[1:]

In [ ]:
# 'close' 컬럼 콤마 제거
df['close'] = df['close'].str.replace(',', '').astype(np.int64)

In [ ]:
print(df)

       cd      nm  close
0  060310      3S   2920
1  095570  AJ네트웍스   6250
2  006840   AK홀딩스  29700
3  054620  APS홀딩스  19400

## Chapter 05. 판다스 데이터프레임 Part2

### 5.1 Query

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame

data = [
    {"cd":"A060310", "nm":"3S", "open":2920, "close":2800},
    {"cd":"A095570", "nm":"AJ네트웍스", "open":1920, "close":1900},
    {"cd":"A006840", "nm":"AK홀딩스", "open":2020, "close":2010},
    {"cd":"A054620", "nm":"APS홀딩스", "open":3120, "close":3200}
]
df = DataFrame(data=data)
df = df.set_index("cd")
print(df)

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [ ]:
# 불린형 데이터: 시가가 2,000 이상인 값만 슬라이싱
cond = df['open'] >= 2000
print(df[cond])

             nm  open  close
cd
A060310      3S  2920   2800
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [ ]:
# query 메서드로 필터링

print(df.query("nm == '3S'")) # 큰 따옴표와 작은 따옴표로 전체 쿼리, 문자열을 구분
# nm이라는 컬럼에서 3S라는 값을 갖는 데이터를 필터링

print(df.query("open > close"))
# 종가가 시가보다 큰 상승 마감한 데이터만 출력

print(df.query("nm in ['3S', 'AK홀딩스']"))
# in 연산자: 뒤에 나오는 자료구조에서 나열된 데이터만 을 선택 <-> not in: 포함되지 않는 종목만을 선택

print(df.query("cd == 'A060310'"))
# 인덱스를 기준으로 조회

name = "AJ네트웍스"
df.query('nm == @name')
# "@" 키워드를 사용하면 파이썬 변수를 참조할 수 있음

         nm  open  close
cd
A060310  3S  2920   2800
             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
            nm  open  close
cd
A060310     3S  2920   2800
A006840  AK홀딩스  2020   2010
         nm  open  close
cd
A060310  3S  2920   2800

             nm  open  close
cd
A095570  AJ네트웍스  1920   1900

### 5.2 Filter

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame

data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2021/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data=data, index=index, columns=columns)
print(df)

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [ ]:
# filter 메서드

#  컬럼 필터링
print(df.filter(items=["2018/12"]))# items 파라미터로 선택할 컬럼의 이름 지정 / 여러 개의 이름을 입력하면 나열한 모든 컬럼 선택
# filter 메서드의 반환값은 데이터프레임

# 인덱스 필터링
print(df.filter(items=["PER"], axis=0))
# axis 입력하지 않으면 1로 설정되어 컬럼 탐색

# 일부 문자열 필터링
print(df.filter(regex="2020"))

print(df.filter(regex="^2020")) # '^'는 해당 문자열로 시작하는 문자열 패턴만 반환

print(df.filter(regex="R$", axis = 0)) # "$"는 해당 문자열로 끝나는 패턴; 인덱스에서 R로 끝나는 패턴 반환

print(df.filter(regex="|d{4}")) #'\d'는 숫자를 읨; 중괄호로 출현 횟수 지정 # 숫자 네개가 연속 발생하는 문자열 반환

print(df.filter(regex="\d{4}/\d{2}$")) # 숫자 네개 '/' 숫자 두 개로 구성된 컬럼 선택

     2018/12
DPS  1416.00
PER     6.42
PBR     1.10
     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
     2020/12
DPS  2994.00
PER    21.09
PBR     2.06
     2020/12
DPS  2994.00
PER    21.09
PBR     2.06
     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88
     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88
     2018/12  2019/12  2020/12
DPS  1416.00  1416.00  2994.00
PER     6.42    17.63    21.09
PBR     1.10     1.49     2.06

### 5.3 정렬 및 순위

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame

data = [
    ["037730", "3R", 1510],
    ["036360", "3SOFT", 1790],
    ["005670", "ACTS", 1185]
]

columns = ["종목코드", "종목명", "현재가"]
df = DataFrame(data=data, columns=columns)
df.set_index("종목코드", inplace=True)

In [ ]:
# 정렬 기준 컬럼 정하기

df2 = df.sort_values("현재가")
print(df2)

          종목명   현재가
종목코드
005670   ACTS  1185
037730     3R  1510
036360  3SOFT  1790

In [ ]:
# 파라미터의 이름 지정

df2 = df.sort_values(by = "현재가")
print(df2)

          종목명   현재가
종목코드
005670   ACTS  1185
037730     3R  1510
036360  3SOFT  1790

In [ ]:
# 내림차순 정렬

df2 = df.sort_values(by = "현재가", ascending=False) #ascending 파라미터의 기본값은 True
print(df2)

          종목명   현재가
종목코드
036360  3SOFT  1790
037730     3R  1510
005670   ACTS  1185

In [ ]:
# 순위 매기기

df['순위'] = df['현재가'].rank()
print(df)

df.sort_values(by="순위", inplace=True) # 순위 순서대로 정렬
print(df)

          종목명   현재가   순위
종목코드
005670   ACTS  1185  1.0
037730     3R  1510  2.0
036360  3SOFT  1790  3.0
          종목명   현재가   순위
종목코드
005670   ACTS  1185  1.0
037730     3R  1510  2.0
036360  3SOFT  1790  3.0

### 5.4 인덱스 연산

In [ ]:
# 인덱스 만들기

import pandas as pd

idx1 = pd.Index([1, 2, 3])
idx2 = pd.Index([2, 3, 4])
print(type(idx1))

<class 'pandas.core.indexes.base.Index'>

In [ ]:
idx1.union(idx2) # 합집합

Index([1, 2, 3, 4], dtype='int64')

In [ ]:
idx1.intersection(idx2) # 교집합

Index([2, 3], dtype='int64')

In [ ]:
idx1.difference(idx2) # 차집합

Index([1], dtype='int64')

### 5.5 GroupBy

In [ ]:
from pandas import DataFrame

data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df = DataFrame(data=data, columns=columns)

df1 = df[df['테마'] == "2차전지(생산)"] # 테마 컬럼이 "2차전지(생산)"와 같은 종목만 필터링
df2 = df[df['테마'] == "해운"] # 테마 컬럼이 "해운"와 같은 종목만 필터링
df3 = df[df['테마'] == "시스템반도체"] # 테마 컬럼이 "시스템반도체"와 같은 종목만 필터링

In [ ]:
# 테마별 그룹화한 df 객체에서 PER 컬럼의 평균값 계산

mean1 = df1['PER'].mean()
mean2 = df2['PER'].mean()
mean3 = df3['PER'].mean()

In [ ]:
# 테마별 PER 평균을 시리즈로 저장

data = [mean1, mean2, mean3]
index = ["2차전지(생산)", "해운", "시스템반도체"]
s = pd.Series(data=data, index=index)
print(s)

2차전지(생산)    46.625
해운          21.375
시스템반도체      36.645
dtype: float64

In [ ]:
# groupby 메서드
gb = df.groupby("테마") # 분할, DataFrameGroupBy 타입의 객체 리턴
temp = gb.get_group("2차전지(생산)") # 특정한 값을 갖는 df 반환
print(temp)

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [ ]:
# 데이터 슬라이싱 후 groupby 메서드 적용
temp = df[["테마", "PER", "PBR"]].groupby("테마").get_group("2차전지(생산)")
print(temp)

         테마    PER   PBR
0  2차전지(생산)  10.19  1.29
5  2차전지(생산)  83.06  3.75

In [ ]:
# DataFrameGroupBy 객체 슬라이싱
temp = df.groupby("테마")[ ["PER", "PBR"] ].get_group("2차전지(생산)")
print(temp)

     PER   PBR
0  10.19  1.29
5  83.06  3.75

In [ ]:
# groupby 메서드로 그룹화, PER PBR컬럼에 mean메서드 적용
df.groupby("테마")[["PER", "PBR"]].mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

In [ ]:
# df.groupby("테마").mean()
# 최신 버전에서는 평균연산 적용이 불가한 컬럼을 자동 제거해주지 않는 것 같다

In [ ]:
# 컬럼별 다른 함수 적용
df.groupby("테마").agg({"PER": max , "PBR": min})

<ipython-input-119-005a93a2d231>:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("테마").agg({"PER": max , "PBR": min})
<ipython-input-119-005a93a2d231>:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("테마").agg({"PER": max , "PBR": min})

            PER   PBR
테마
2차전지(생산)  83.06  1.29
시스템반도체    37.32  1.12
해운        21.52  0.95

In [ ]:
# 하나의 컬럼에 여러 연산 적용
import numpy as np
df.groupby("테마").agg({"PER": [max, min], "PBR": [np.std, np.var]})

<ipython-input-122-d7d36b8e014b>:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("테마").agg({"PER": [max, min], "PBR": [np.std, np.var]})
<ipython-input-122-d7d36b8e014b>:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("테마").agg({"PER": [max, min], "PBR": [np.std, np.var]})
<ipython-input-122-d7d36b8e014b>:3: FutureWarning: The provided callable <function std at 0x7df6a390be20> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df.groupby("테마").agg({"PER": [max, min], "PBR": [np.std, np.var]})
<ipython-input-122-d7d36b8e014b>:3: FutureWarning: The provided callable <function var at 0x7df6a390bf40> is currently using SeriesGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  df.groupby("테마").agg({"PER": [max, min], "PBR": [np.std, np.var]})

            PER              PBR
            max    min       std      var
테마
2차전지(생산)  83.06  10.19  1.739483  3.02580
시스템반도체    37.32  35.97  1.718269  2.95245
해운        21.52  21.23  1.590990  2.53125

### 5.6 좌/우로 붙이기

`concat` : 인덱스는 동일한데 컬럼의 데이터가 분리되어 있을 때 하나의 데이터프레임으로 합쳐주는 함수

In [ ]:
from pandas import DataFrame
import pandas as pd

# 첫 번째 데이터 프레임
data = {
    '종가' : [113000, 111500],
    '거래량': [555850, 282163]
}

index = ['2019-06-21', '2019-06-20']
df1 = DataFrame(data=data, index=index)

# 두 번째 데이터 프레임
data = {
    '시가': [112500, 110000],
    '고가': [115000, 112000],
    '저가': [111500, 109000]
}

index = ['2019-06-21', '2019-06-20']
df2 = DataFrame(data=data, index=index)

df = pd.concat([df1, df2], axis = 1)
print(df)

                종가     거래량      시가      고가      저가
2019-06-21  113000  555850  112500  115000  111500
2019-06-20  111500  282163  110000  112000  109000

In [ ]:
# 컬럼 순서 정렬
정렬순서 = ['시가', '고가', '저가', '종가', '거래량']
df = df[정렬순서]
print(df)

                시가      고가      저가      종가     거래량
2019-06-21  112500  115000  111500  113000  555850
2019-06-20  110000  112000  109000  111500  282163

In [ ]:
# 인덱스가 다른 데이터 프레임
data = {
    '종가' : [113000, 111500],
    '거래량': [555850, 282163]
}

index = ['2019-06-21', '2019-06-20']
df1 = DataFrame(data=data, index=index)

# 두 번째 데이터 프레임
data = {
    '시가': [112500, 110000],
    '고가': [115000, 112000],
    '저가': [111500, 109000]
}

index = ['2019-06-20', '2019-06-19']
df2 = DataFrame(data=data, index=index)

df = pd.concat([df1, df2], axis = 1)
print(df)  # 결측값으로 표기

                  종가       거래량        시가        고가        저가
2019-06-21  113000.0  555850.0       NaN       NaN       NaN
2019-06-20  111500.0  282163.0  112500.0  115000.0  111500.0
2019-06-19       NaN       NaN  110000.0  112000.0  109000.0

In [ ]:
# inner 모드 -> 교집합; 인덱스가 공통인 부분만 연결
# join 파라미터를 지정하지 않으면 outer 모드로 동작
f = pd.concat([df1, df2], axis = 1, join = 'inner')
print(df)

                종가     거래량      시가      고가      저가
2019-06-20  111500  282163  112500  115000  111500

### 5.7 위/아래로 붙이기

In [ ]:
from pandas import DataFrame
import pandas as pd

# 첫 번째 데이터 프레임
data = {
    '종가' : [113000, 111500],
    '거래량': [555850, 282163]
}

index = ['2019-06-21', '2019-06-20']
df1 = DataFrame(data, index=index)

# 두 번째 데이터 프레임
data = {
    '종가' : [110000, 483689],
    '거래량': [109000, 791946]
}

index = ['2019-06-19', '2019-06-18']
df2 = DataFrame(data, index=index)

# df = df1.append(df2)
# print(df)
# 4.9와 마찬가지로 append 미지원으로 인한 오류같다

In [ ]:
# concat 함수로 합치기
# axis = 0이면 위/아래 axis = 1이면 좌/우로 연결
df = pd.concat([df1, df2])
print(df)

                종가     거래량
2019-06-21  113000  555850
2019-06-20  111500  282163
2019-06-19  110000  109000
2019-06-18  483689  791946

### 5.8 Merge

`merge`는 특정 컬럼값을 기준으로 데이터를 병합

In [ ]:
# 데이터 프레임 만들기
from pandas import DataFrame
import pandas as pd

# 첫 번째 데이터 프레임
data = [
    ["전기전자", "005930", "삼성전자", 74400],
    ["화학", "051910", "LG화학", 896000],
    ["전기전자", "000660", "SK하이닉스", 101500]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

# 두 번째 데이터 프레임
data = [
    ["은행", 2.92],
    ["보험", 0.37],
    ["화학", 0.06],
    ["전기전자", -2.43]
]

columns = ["업종", "등락률"]
df2 = DataFrame(data=data, columns=columns)

# merge함수; on 파라미터를 통해 두 df를 합칠 기준값을 지정
df = pd.merge(left=df1, right=df2, on="업종")
print(df)

     업종    종목코드     종목명     현재가   등락률
0  전기전자  005930    삼성전자   74400 -2.43
1  전기전자  000660  SK하이닉스  101500 -2.43
2    화학  051910    LG화학  896000  0.06

In [ ]:
# 첫 번째 데이터 프레임
data = [
    ["전기전자", "005930", "삼성전자", 74400],
    ["화학", "051910", "LG화학", 896000],
    ["서비스업", "035720", "카카오", 121500]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

# 두 번째 데이터 프레임
data = [
    ["은행", 2.92],
    ["보험", 0.37],
    ["화학", 0.06],
    ["전기전자", -2.43]
]

columns = ["업종", "등락률"]
df2 = DataFrame(data=data, columns=columns)

# left, right 옵션
df = pd.merge(left=df1, right=df2, how='left', on='업종') # how = 'left', 왼쪽을 기준으로 합친다
print(df)

     업종    종목코드   종목명     현재가   등락률
0  전기전자  005930  삼성전자   74400 -2.43
1    화학  051910  LG화학  896000  0.06
2  서비스업  035720   카카오  121500   NaN

In [ ]:
#  두 데이터 프레임의 컬럼명이 다를 경우

# 첫 번째 데이터 프레임
data = [
    ["전기전자", "005930", "삼성전자", 74400],
    ["화학", "051910", "LG화학", 896000],
    ["서비스업", "035720", "카카오", 121500]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

# 두 번째 데이터 프레임
data = [
    ["은행", 2.92],
    ["보험", 0.37],
    ["화학", 0.06],
    ["전기전자", -2.43]
]

columns = ["항목", "등락률"]
df2 = DataFrame(data=data, columns=columns)

# 컬럼 이름이 다르므로 합칠 기준이 되는 각 컬럼의 이름을 모두 입력
df = pd.merge(left=df1, right=df2, left_on="업종", right_on="항목")
print(df)

     업종    종목코드   종목명     현재가    항목   등락률
0  전기전자  005930  삼성전자   74400  전기전자 -2.43
1    화학  051910  LG화학  896000    화학  0.06

### 5.9 Join

데이터프레임의 인덱스를 기준으로 병합하는 경우 `join`을 사용

In [ ]:
# 첫 번째 데이터 프레임
data = [
    ["전기전자", "005930", "삼성전자", 74400],
    ["화학", "051910", "LG화학", 896000],
    ["서비스업", "035720", "카카오", 121500]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)
df1 = df1.set_index("업종")
print(df1)

# 두 번째 데이터 프레임
data = [
    ["은행", 2.92],
    ["보험", 0.37],
    ["화학", 0.06],
    ["전기전자", -2.43]
]

columns = ["항목", "등락률"]
df2 = DataFrame(data=data, columns=columns)
df2 = df2.set_index("항목")
print(df2)

        종목코드   종목명     현재가
업종
전기전자  005930  삼성전자   74400
화학    051910  LG화학  896000
서비스업  035720   카카오  121500
       등락률
항목
은행    2.92
보험    0.37
화학    0.06
전기전자 -2.43

In [ ]:
# join 메서드
df1.join(other=df2)

        종목코드   종목명     현재가   등락률
업종
전기전자  005930  삼성전자   74400 -2.43
화학    051910  LG화학  896000  0.06
서비스업  035720   카카오  121500   NaN

In [ ]:
data = [
    ["2017", "삼성", 500],
    ["2017", "LG", 300],
    ["2017", "SK하이닉스", 200],
    ["2018", "삼성", 600],
    ["2018", "LG", 400],
    ["2018", "SK하이닉스", 300]
]
columns = ["연도", "회사", "시가총액"]
df = DataFrame(data=data, columns=columns)
print(df)

     연도      회사  시가총액
0  2017      삼성   500
1  2017      LG   300
2  2017  SK하이닉스   200
3  2018      삼성   600
4  2018      LG   400
5  2018  SK하이닉스   300

In [ ]:
df_mean = df.groupby("연도")["시가총액"].mean().to_frame() # 컬럼이 시가총액 하나라서 시리즈이기 때문에 to_fram메서드를 사용해 데이터프레임을 얻음
df_mean.columns = ["시가총액평균"]
print(df_mean)

          시가총액평균
연도
2017  333.333333
2018  433.333333

In [ ]:
# join메서드로 병합하기

df = df.join(df_mean, on="연도")
 print(df)

     연도      회사  시가총액      시가총액평균
0  2017      삼성   500  333.333333
1  2017      LG   300  333.333333
2  2017  SK하이닉스   200  333.333333
3  2018      삼성   600  433.333333
4  2018      LG   400  433.333333
5  2018  SK하이닉스   300  433.333333

In [ ]:
import numpy as np

df['규모'] = np.where(df['시가총액'] >= df['시가총액평균'], "대형주", "중/소형주")
print(df)

     연도      회사  시가총액      시가총액평균     규모
0  2017      삼성   500  333.333333    대형주
1  2017      LG   300  333.333333  중/소형주
2  2017  SK하이닉스   200  333.333333  중/소형주
3  2018      삼성   600  433.333333    대형주
4  2018      LG   400  433.333333  중/소형주
5  2018  SK하이닉스   300  433.333333  중/소형주

### 5.10 멀티인덱스(Multi-Index)

> 멀티인덱스: 여러 컬럼으로 구분된 구조적인 데이터를 표현

In [ ]:
from pandas import DataFrame
import pandas as ad

data = [
    ['영업이익', '컨센서스', 1000, 1200],
    ['영업이익', '잠정치', 900, 1400],
    ['당기순이익', '컨센서스', 800, 900],
    ['당기순이익', '잠정치', 700, 800]
]

df = DataFrame(data=data)
df = df.set_index( [0, 1]) # 자동 맵핑된 숫자 컬럼 이름으로 인덱스를 지정(리스트로 전달)
print(df)

               2     3
0     1
영업이익  컨센서스  1000  1200
      잠정치    900  1400
당기순이익 컨센서스   800   900
      잠정치    700   800

In [ ]:
# 인덱스와 컬럼 이름 변경

df.index.names = ["재무연월", ""]
df.columns = ["2020/06", "2020/09"]
print(df)

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800

In [ ]:
# level 0 인덱스로 인덱싱
print(df.loc['영업이익'])

      2020/06  2020/09

컨센서스     1000     1200
잠정치       900     1400

In [ ]:
# 멀티인덱스에서 하나의 행을 선택할 때는 level 0부터 N까지의 인덱스를 튜플로 정의
print(df.loc['영업이익', '컨센서스'])

2020/06    1000
2020/09    1200
Name: (영업이익, 컨센서스), dtype: int64

In [ ]:
# iloc를 사용하면 인덱스 레벨과 무관하게 하나의 로우 선택
# 컬럼 이름을 인덱스로 갖는 시리즈 반환
print(df.iloc[0])

2020/06    1000
2020/09    1200
Name: (영업이익, 컨센서스), dtype: int64

In [ ]:
# 특정 값 가져오기 응용
print(df.iloc[0, 0]) # 행, 열 인덱스 차례로 지정

1000

In [ ]:
# loc는 멀티 인덱스 값 선택을 위해 튜플 사용
print(df.loc[('영업이익', '컨센서스'), '2020/06'])

1000

In [ ]:
# 슬라이스 클래스
# '시작:끝:오프셋' slice 클래스는 콜론 대신 콤마로 인덱스 구분
a = [1, 2, 3, 4, 5]
print(a[0:5:2])
print(a[slice(0, 5, 2)])

[1, 3, 5]
[1, 3, 5]

In [ ]:
a = [1, 2, 3, 4, 5]
b = [3, 4, 5, 6, 7]

s = slice(0, 5, 2)
print(a[ s ])
print(b[ s ])

[1, 3, 5]
[3, 5, 7]

In [ ]:
a = [1, 2, 3, 4, 5]

# slice 객체에서는 콜론과 같은 기능은 slice(None)으로 표현할 수 있음
print(a[:])
print(a[slice(None)])
print(a[ : : ])
print(a[slice(None, None)])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# print(df.loc[ (:, '컨센서스'), : ] ) 튜플 안의 콜론을 인식하지 못해 에러 발생

# level 0 인덱스 전체에 level 1의 컨센서스만을 선택
print( df.loc[ (slice(None), '컨센서스'), :] )

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
당기순이익 컨센서스      800      900

In [ ]:
# slice(None) 대신 IndexSlice 사용
# IndexSlice는 인덱싱 기호와 함께 ['level 0', 'level 1', 'level 2']형태로 인덱스를 차례로 지정; 행과 열을 모두 지정

idx = pd.IndexSlice
print(df.loc[ idx[ :, '컨센서스'], : ])

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
당기순이익 컨센서스      800      900

### 5.11 멀티컬럼(Multi-Column)

In [ ]:
from pandas import DataFrame

data = [
    [1000, 900, 800, 700],
    [1200, 1400, 900, 800]
]

columns = [
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],
    ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

df = DataFrame(data=data, index=["2020/06", "2020/09"], columns=columns)
print(df)

         영업이익       당기순이익
         컨센서스   잠정치  컨센서스  잠정치
2020/06  1000   900   800  700
2020/09  1200  1400   900  800

In [ ]:
import pandas as pd

# Multiindex의 from_product 함수
level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']

idx = pd.MultiIndex.from_product( [level_0, level_1] ) # 리스트로 데이터의 조합을 만듦

print(idx)
print(idx.get_level_values(0)) # level 0 만 출력

MultiIndex([( '영업이익', '컨센서스'),
            ( '영업이익',  '잠정치'),
            ('당기순이익', '컨센서스'),
            ('당기순이익',  '잠정치')],
           )
Index(['영업이익', '영업이익', '당기순이익', '당기순이익'], dtype='object')

In [ ]:
level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']

columns = pd.MultiIndex.from_product( [level_0, level_1] )
df = DataFrame(data=data, index=["2020/06", "2020/09"], columns=columns)
print(df)

         영업이익       당기순이익
         컨센서스   잠정치  컨센서스  잠정치
2020/06  1000   900   800  700
2020/09  1200  1400   900  800

In [ ]:
print(df['영업이익'])

         컨센서스   잠정치
2020/06  1000   900
2020/09  1200  1400

In [ ]:
print(df[ ('영업이익', '컨센서스') ])

2020/06    1000
2020/09    1200
Name: (영업이익, 컨센서스), dtype: int64

In [ ]:
print(df[ '영업이익' ]) # 영업이익 컬럼 선택, 데이터프레임 반환
print(df.loc[ '2020/06', '영업이익' ]) # 2020/06의 영업이익 시리즈 반환
print(df.loc[ '2020/06', ( '영업이익', '컨센서스' ) ]) # 2020/06의 영업이익 중 컨센서스값 하나가 정수로 출력
print(df.loc[ '2020/06', (slice(None), '잠정치') ]) # 2020/06의 영업이익의 컨센서스와 당기순이익의 컨센서스 시리즈 출력

         컨센서스   잠정치
2020/06  1000   900
2020/09  1200  1400
컨센서스    1000
잠정치      900
Name: 2020/06, dtype: int64
1000
영업이익   잠정치    900
당기순이익  잠정치    700
Name: 2020/06, dtype: int64

In [ ]:
# 멀티 컬럼으로 표현된 데이터를 멀티 인덱스를 갖는 데이터로 변환
print(df.transpose())
print(df.T)

            2020/06  2020/09
영업이익  컨센서스     1000     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800
            2020/06  2020/09
영업이익  컨센서스     1000     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800

### 5.12 Stack/Unstack

`stack` 메서드: 컬럼을 인덱스로 변경; stack(쌓다) -> 데이터를 길게 쌓아올린 형태로 변경

`unstack` 메서드: 인덱스를 컬럼으로 변경

In [ ]:
from pandas import DataFrame
import pandas as pd

data = [
    [1000, 900, 800, 700],
    [1200, 1400, 900, 800]
]

level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']
columns = pd.MultiIndex.from_product( [level_0, level_1] )

df = DataFrame(data=data, index=["2020/06", "2020/09"], columns=columns)
print(df.stack()) # 높은 레벨의 컬럼을 인덱스로 변경

              영업이익  당기순이익
2020/06 잠정치    900    700
        컨센서스  1000    800
2020/09 잠정치   1400    800
        컨센서스  1200    900

In [ ]:
# 기본적으로 높은 레벨 컬럼이 인덱스로 변경; level 옵션을 사용해 특정 컬럼을 변경할 수도 있음
print(df.stack(level=0))

               컨센서스   잠정치
2020/06 당기순이익   800   700
        영업이익   1000   900
2020/09 당기순이익   900   800
        영업이익   1200  1400

In [ ]:
# stack 메서드 반복 사용
print(df.stack().stack()) # 3차원 인덱스를 갖는 시리즈

2020/06  잠정치   영업이익      900
               당기순이익     700
         컨센서스  영업이익     1000
               당기순이익     800
2020/09  잠정치   영업이익     1400
               당기순이익     800
         컨센서스  영업이익     1200
               당기순이익     900
dtype: int64

In [ ]:
# stack 결과 원래대로 되돌리기
print(df.stack().unstack())

         영업이익       당기순이익
          잠정치  컨센서스   잠정치 컨센서스
2020/06   900  1000   700  800
2020/09  1400  1200   800  900

In [ ]:
data = [
    [1000, 1100, 900, 1200, 1300],
    [800, 2000, 1700, 1500, 1800]
]

index = ['자본금', '부채']
columns = ["2020/03", "2020/06", "2020/09", "2021/03", "2021/06"]
df = DataFrame(data, index,columns)

In [ ]:
# stack을 적용해 2차원 인덱스로 만들고
# 인덱스를 다시 값으로 변경
df_stacked = df.stack().reset_index()
print(df_stacked) # 자동부여된 level_0, level_1, 0

  level_0  level_1     0
0     자본금  2020/03  1000
1     자본금  2020/06  1100
2     자본금  2020/09   900
3     자본금  2021/03  1200
4     자본금  2021/06  1300
5      부채  2020/03   800
6      부채  2020/06  2000
7      부채  2020/09  1700
8      부채  2021/03  1500
9      부채  2021/06  1800

In [ ]:
# 각각의 문자열에 split 메서드 적용
temp = df_stacked['level_1'].str.split('/')
print(temp)

0    [2020, 03]
1    [2020, 06]
2    [2020, 09]
3    [2021, 03]
4    [2021, 06]
5    [2020, 03]
6    [2020, 06]
7    [2020, 09]
8    [2021, 03]
9    [2021, 06]
Name: level_1, dtype: object

In [ ]:
# 시리즈 -> 리스트 -> 데이터프레임 객체 변환
df_split = DataFrame( list(df_stacked['level_1'].str.split('/')) )
print(df_split)

      0   1
0  2020  03
1  2020  06
2  2020  09
3  2021  03
4  2021  06
5  2020  03
6  2020  06
7  2020  09
8  2021  03
9  2021  06

In [ ]:
# df_stacked와 df_split 두 개를 합치고 컬럼 이름 부여
df_merged = pd.concat( [df_stacked, df_split], axis = 1)
df_merged.columns = ['계정', '년월', '금액', '연도', '월']
print(df_merged)

    계정       년월    금액    연도   월
0  자본금  2020/03  1000  2020  03
1  자본금  2020/06  1100  2020  06
2  자본금  2020/09   900  2020  09
3  자본금  2021/03  1200  2021  03
4  자본금  2021/06  1300  2021  06
5   부채  2020/03   800  2020  03
6   부채  2020/06  2000  2020  06
7   부채  2020/09  1700  2020  09
8   부채  2021/03  1500  2021  03
9   부채  2021/06  1800  2021  06

In [ ]:
# groupby 메서드로 부채와 자본금을 연도별 정리
df_group = df_merged.groupby(["계정", "연도"]).sum()
print(df_group)

                             년월    금액       월
계정  연도
부채  2020  2020/032020/062020/09  4500  030609
    2021         2021/032021/06  3300    0306
자본금 2020  2020/032020/062020/09  3000  030609
    2021         2021/032021/06  2500    0306

In [ ]:
# level 1 인덱스 '연도'를 컬럼으로 변경
df_unstack = df_group.unstack()

# level 0 컬럼 '금액'을 선택, 컬럼과 인덱스 이름 제거
result = df_unstack['금액']
result.columns.name = ''
result.index.name = ''
print(result)

     2020  2021

부채   4500  3300
자본금  3000  2500

### 5.13 Pivot

> `Pivot`은 인덱스와 컬럼 및 데이터를 지정해서 데이터프레임을 생성
>
> 피벗을 사용해 데이터를 재구조화함으로써 데이터를 다양한 측면에서 분석할 수 있게 됨

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame
import pandas as pd

data = [
    ["2021-08-12", "삼성전자", 77000],
    ["2021-08-13", "삼성전자", 74400],
    ["2021-08-12", "LG전자", 153000],
    ["2021-08-13", "LG전자", 150500],
    ["2021-08-12", "SK하이닉스", 100500],
    ["2021-08-13", "SK하이닉스", 101500]
]

columns = ["날짜", "종목명", "종가"]
df = DataFrame(data=data, columns=columns)
print(df)

           날짜     종목명      종가
0  2021-08-12    삼성전자   77000
1  2021-08-13    삼성전자   74400
2  2021-08-12    LG전자  153000
3  2021-08-13    LG전자  150500
4  2021-08-12  SK하이닉스  100500
5  2021-08-13  SK하이닉스  101500

In [ ]:
pd.pivot(data=df, index="날짜", columns="종목명", values="종가")

종목명           LG전자  SK하이닉스   삼성전자
날짜
2021-08-12  153000  100500  77000
2021-08-13  150500  101500  74400

In [ ]:
from pandas import DataFrame
import pandas as pd

data = [
    ["2021-08-12", "삼성전자", 77000],
    ["2021-08-13", "삼성전자", 74400],
    ["2021-08-12", "LG전자", 153000],
    ["2021-08-13", "LG전자", 150500],
    ["2021-08-12", "SK하이닉스", 100500],
    ["2021-08-13", "SK하이닉스", 101500]
]

columns = ["날짜", "종목명", "종가"]
df = DataFrame(data=data, columns=columns)
print(df)

# 날짜와 종목명 컬럼으로 그룹화, level 1 인덱스인 종목명을 컬럼으로 변경
df.groupby(["날짜", "종목명"]).mean().unstack()

           날짜     종목명      종가
0  2021-08-12    삼성전자   77000
1  2021-08-13    삼성전자   74400
2  2021-08-12    LG전자  153000
3  2021-08-13    LG전자  150500
4  2021-08-12  SK하이닉스  100500
5  2021-08-13  SK하이닉스  101500

                  종가
종목명             LG전자    SK하이닉스     삼성전자
날짜
2021-08-12  153000.0  100500.0  77000.0
2021-08-13  150500.0  101500.0  74400.0

In [ ]:
pd.pivot(data=df, index="종목명", columns="날짜", values="종가")

날짜      2021-08-12  2021-08-13
종목명
LG전자        153000      150500
SK하이닉스      100500      101500
삼성전자         77000       74400

### 5.14 Melt
> `Melt` : 와이드 포맷의 데이터프레임을 롱 포맷의 데이터프레임으로 재구조화

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame

data = [
    ["005930", "삼성전자", 75800, 76000, 74100, 74400],
    ["035720", "카카오", 147500, 147500, 144500, 146000],
    ["000660", "SK하이닉스", 99600, 101500, 98900, 101500]
]

columns = ["종목코드", "종목명", "시가", "고가", "저가", "종가"]
df = DataFrame(data=data, columns=columns)
print(df)

     종목코드     종목명      시가      고가      저가      종가
0  005930    삼성전자   75800   76000   74100   74400
1  035720     카카오  147500  147500  144500  146000
2  000660  SK하이닉스   99600  101500   98900  101500

In [ ]:
# melt하지 않을 컬럼을 리스트로 지정
df.melt(id_vars=['종목코드', '종목명'])

      종목코드     종목명 variable   value
0   005930    삼성전자       시가   75800
1   035720     카카오       시가  147500
2   000660  SK하이닉스       시가   99600
3   005930    삼성전자       고가   76000
4   035720     카카오       고가  147500
5   000660  SK하이닉스       고가  101500
6   005930    삼성전자       저가   74100
7   035720     카카오       저가  144500
8   000660  SK하이닉스       저가   98900
9   005930    삼성전자       종가   74400
10  035720     카카오       종가  146000
11  000660  SK하이닉스       종가  101500

In [ ]:
# 특정 컬럼을 슬라이싱한 뒤 melt 메서드 적용
df.melt(value_vars=['시가', '종가'])

  variable   value
0       시가   75800
1       시가  147500
2       시가   99600
3       종가   74400
4       종가  146000
5       종가  101500

### 5.15 파일 저장하기

In [ ]:
# 데이터 프레임 만들기

from pandas import DataFrame
data = {
    "종목명": ["3R", "3SOFT", "ACTS"],
    "현재가": [1510, 1790, 1185],
    "등락률": [7.36, 1.65, 1.28]
}
df = DataFrame(data, index=["037730", "036360", "005760"])
print(df)

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
# csv 파일 저장
df.to_csv("data.csv")

In [ ]:
# df.to_csv("abc/data.csv") # abc라는 폴더 안에 data.csv 이름으로 저장

In [ ]:
# os모듈을 사용해 폴더의 존재 유무 확인, 폴더 생성까지 코드로 표현
import os
if not os.path.isdir("abc"):
  os.mkdir("abc")
df.to_csv("abc/data.csv")

In [ ]:
# 절대 경로 방식: 최상위 경로에서 파일의 위치까지 모든 경로를 나열
"C:||A||B||C||data.csv"
"C:/A/B/C/data.csv"
r"C:|A|B|C|data.csv"
# 모두 같은 위치

'C:|A|B|C|data.csv'

In [ ]:
# excel 파일 저장
df.to_excel("data.xlsx")

In [ ]:
# 엑셀 시트의 이름 변경
df.to_excel("data2.xlsx", sheet_name="종목정보")

In [ ]:
# 인덱스를 제외하고 엑셀 파일 저장
df.to_excel("data3.xlsx", index=False)

In [ ]:
# 컬럼명 생략
df.to_excel("data4.xlsx", header=False)

### 5.16 파일 불러오기

In [ ]:
import pandas as pd
df = pd.read_excel("code.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'code.xlsx'

In [ ]:
df = pd.read_excel("code.xlsx", index_col ='cd')

FileNotFoundError: [Errno 2] No such file or directory: 'code.xlsx'

In [ ]:
df = pd.read_excel("code.xlsx", index_col = 1)

FileNotFoundError: [Errno 2] No such file or directory: 'code.xlsx'

In [ ]:
df = pd.read_excel("code.xlsx", index_col='cd', usecols=[1, 2, 3])

FileNotFoundError: [Errno 2] No such file or directory: 'code.xlsx'

In [ ]:
df = pd.read_excel("code.xlsx", header=2. index_col='cd', usecols=[1.2.3])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-289-f2e35e416a7d>, line 1)

In [ ]:
df = pd.read_csv("magic.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'magic.csv'

In [ ]:
df = pd.read_csv("magic.csv", dtype = {'code' : str})

FileNotFoundError: [Errno 2] No such file or directory: 'magic.csv'