In [1]:
#판다스 시리즈: 1차원 데이터를 표현하는 자료구조
#데이터프레임: 2차원 데이터를 위한 자료구조
#2차원 데이터: 행과 열로 구성된 데이터

In [6]:
#딕셔너리로 데이터프레임을 생성
from pandas import DataFrame

data = {
    '종목코드':['037730', '036360', '005760'],
    '종목명':['3R', '3S0FT', 'ACTS'],
    '현재가': [1510, 1790, 1185]
}

df = DataFrame(data)
print(df)

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3S0FT  1790
2  005760   ACTS  1185

In [8]:
#리스트로 데이터프레임을 생성
from pandas import DataFrame

data = [
    ["037730", "3R", 1510],
    ["036360", "3SOFT", 1790],
    ["005670", "ACTS", 1185]
] #질문1: []는 인덱스 기호, {}은 ? 쓰는 차이

columns = ["종목코드", "종목명", "현재가"] #각 칼럼의 레이블을 리스트로 저장

df = DataFrame(data=data, columns=columns) #데이터프레임 생성자의 columns 파라미터로 넘겨줌
df

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005670   ACTS  1185

In [9]:
#리스트와 딕셔너리로 데이터프레임을 생성
from pandas import DataFrame

data = [
    {"종목코드":"037730", "종목명":"3R", "현재가":1510},
    {"종목코드":"036360", "종목명":"3SOFT", "현재가":1790},
    {"종목코드":"005670", "종목명":"ACTS", "현재가":1185}
]

df = DataFrame(data)
print(df)

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005670   ACTS  1185

In [13]:
#데이터프레임의 인덱스
from pandas import DataFrame

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005670", "ACTS", 1185, 1.28]
]

columns = ["종목코드", "종목명", "현재가", "등락률"]
df = DataFrame(data=data, columns=columns)
df

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [11]:
from pandas import DataFrame

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005670", "ACTS", 1185, 1.28]
]

columns = ["종목코드", "종목명", "현재가", "등락률"]
df = DataFrame(data=data, columns=columns)
df = df.set_index("종목코드") #set_index 메서드: 새로운 인덱스 설정
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

In [14]:
#원본 데이터프레임에 수정 사항을 직접 반영
df.set_index("종목코드", inplace=True)

In [15]:
#인덱스를 데이터와 별도로 지정
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]

df = DataFrame(data=data, index=index, columns=columns)
df.index.name = "종목코드" #인덱스에 이름 속성 설정
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [16]:
#컬럼 인덱싱
#인덱스 기호인 []는 데이터프레임에서 컬럼 단위의 인덱싱으로 동작
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)
print(df['현재가']) 
#현재가 컬럼을 인덱싱 -> 현재가 해당 데이터가 시리즈로 선택
#시리즈의 index 속성으로 종목코드, 시리즈의 values 속성으로 현재가 데이터가 들어있음

037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [17]:
print(df.현재가)

037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [18]:
#여러 개의 컬럼을 한 번에 슬라이싱
리스트 = ["현재가", "등락률"]
df[리스트]

         현재가   등락률
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [21]:
print(df[["현재가", "등락률"]])
df[["현재가"]]

         현재가   등락률
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

         현재가
037730  1510
036360  1790
005760  1185

In [24]:
df["현재가"] #한 개의 열만 인덱싱 -> 시리즈 객체

037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [25]:
df[["현재가"]] #리스트로 슬라이싱 -> 데이터프레임
#데이터프레임에만 지원하는 메서드 사용 시 유용

         현재가
037730  1510
036360  1790
005760  1185

In [27]:
#로우 인덱싱 #loc: 인덱스 인덱싱, iloc: 행 번호 인덱싱
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)
print(df.loc["037730"])

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [28]:
print(df.iloc[0])
print(df.iloc[-1])

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object
종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

In [31]:
#불연속적인 여러 값을 슬라이싱
#iloc: 행 번호를 리스트로 전달
#loc: 인덱스를 리스트로 전달
print(df.loc[["037730", "036360"]]) #리스트로 슬라이싱 할 때는 [[ ]]
print(df.iloc[[0,1]])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [32]:
#특정 값 가져오기
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)

print(df.iloc[0])
print(df.loc['037730'])

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object
종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [34]:
#행 번호로 행 선택 후 시리즈 인덱싱
print(df.iloc[0].iloc[1])
print(df.iloc[0].loc["현재가"])
print(df.iloc[0]["현재가"])

1510
1510
1510

In [35]:
#인덱스로 행 선택 후 시리즈 인덱싱
print(df.loc["037730"].iloc[1])
print(df.loc["037730"].loc["현재가"])
print(df.loc["037730"]["현재가"])

1510
1510
1510

In [36]:
print(df.loc["037730", "현재가"])
print(df.iloc[0, 1])

1510
1510

In [37]:
#컬럼이라는 시리즈 객체에 접근 후 다시 시리즈 인덱싱(참고)
print(df['현재가'].iloc[0])
print(df['현재가'].loc["037730"])
print(df['현재가']["037730"])

1510
1510
1510

In [38]:
#특정 범위 가져오기
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)

print(df.loc[["037730", "036360"]])
print(df.iloc[[0,1]])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [40]:
df = df.loc[["037730", "036360"]]
df = df[["종목명","현재가"]]
print(df)
#두 번의 슬라이싱으로 대용량 데이터 처리 시 실행 성능 저하 문제 발생

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [42]:
#df.loc[[행],[열]] 또는 df.iloc[[행번호],[열번호]]
print(df.loc[["037730", "036360"],["종목명","현재가"]])
print(df.iloc[[0, 1],[0, 1]])

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [43]:
#데이터프레임 필터링
#특정 조건을 만족할 때의 값 선택 - 불리언 인덱싱 응용
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)
cond = df['현재가'] >= 1400 
#cond: T or F가 시리즈로 저장되어 있음 -> 이를 사용해 색인하는 걸 '불리언 인덱싱'
print(df.loc[cond]) #데이터프레임의 슬라이싱의 결과는 데이터프레임

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [44]:
#반환된 데이터프레임에서 하나의 컬럼만을 가져오기
cond = df['현재가'] >= 1400 
print(df.loc[cond]["현재가"])
print(df.loc[cond, "현재가"])

037730    1510
036360    1790
Name: 현재가, dtype: int64
037730    1510
036360    1790
Name: 현재가, dtype: int64

In [45]:
#복잡한 조건 기술 시 논리 연산자인 &(and),|(or),~(not) 연산자 사용
cond = (df['현재가'] >= 1400) & (df['현재가'] < 1700) #반드시 괄호로 조건 구분
df.loc[cond]

       종목명   현재가   등락률
037730  3R  1510  7.36

In [46]:
#Not 연산자: 참<->거짓 조건을 서로 변경
cond = (df['현재가'] >= 1400) & (df['현재가'] < 1700)
print(df.loc[~cond])

          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28