<a href="https://colab.research.google.com/github/gah508/EPOCH_Beginner/blob/main/Pandas1/jiyun_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 04. 판다스 데이터프레임 Part1

In [ ]:
# 설치
pip install pandas

SyntaxError: invalid syntax (<ipython-input-2-9a38944a6143>, line 2)

### 4.1 데이터프레임 소개 및 생성

In [ ]:
# 1. 딕셔너리로 데이터프레임을 생성

from pandas import DataFrame

data = {
    '종목코드': ['037730', '036360', '005760'],
    '종목명': ['3R', '3SOFT', 'ACTS'],
    '현재가': [1510, 1790, 1185]
}

df = DataFrame(data) # DataFrame 클래스의 객체 생성(생성자 호출)
print(df)

# 2. 리스트로 데이터프레임을 생성

data = [
    ["037730", "3R", 1510],
    ["036360", "3SOFT", 1790],
    ["005760", "ACTS", 1185]
]

columns = ["종목코드", "종목명", "현재가"]

df = DataFrame(data=data, columns=columns)
print(df)

# 3. 리스트와 딕셔너리로 데이터프레임을 생성

data = [
    {"종목코드": "037730", "종목명": "3R", "현재가": 1510},
    {"종목코드": "036360", "종목명": "3SOFT", "현재가": 1790},
    {"종목코드": "005760", "종목명": "ACTS", "현재가": 1185}]

df = DataFrame(data)
print(df)

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185
     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185
     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

### 4.2 데이터프레임의 인덱스

In [ ]:
from pandas import DataFrame

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFR", 1790, 1.65],
    ["005670", "ACTS", 1185, 1.28]
]

columns = ["종목코드", "종목명", "현재가", "등락률"]
df = DataFrame(data=data, columns=columns)
print(df)

# 자동 생성된 0,1,2 인덱스 대신 종목코드 컬럼을 인덱스로 변경
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFR", 1790, 1.65],
    ["005670", "ACTS", 1185, 1.28]
]
#  set_index 사용
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = DataFrame(data=data, columns=columns)
df = df.set_index("종목코드") # 원본 데이터 변경이 아닌 새로운 인덱스가 설정된 새로운 df 리턴
print(df)

# df.set_index("종목코드", inplace=True) # 원본 데이터 변경

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFR  1790  1.65
2  005670   ACTS  1185  1.28
          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFR  1790  1.65
005670   ACTS  1185  1.28

In [ ]:
# 인덱스, 데이터, 컬럼을 별도의 리스트로 구성; 생성자 호출 시 index 전달
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005670"]
columns = ["종목명", "현재가", "등락률"]

df = DataFrame(data=data, index=index, columns=columns)
df.index.name = "종목코드"
print(df)

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

### 4.3 컬럼 인덱싱

In [ ]:
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005670"] # 종목코드 index
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)
print(df['현재가'])

print(df.현재가)

# 여러 개의 컬럼을 한 번에 슬라이싱
리스트 = ["현재가","등락률"]
df[리스트]

print(df[ ["현재가", "등락률"]])

df["현재가"]
df[["현재가"]]

037730    1510
036360    1790
005670    1185
Name: 현재가, dtype: int64
037730    1510
036360    1790
005670    1185
Name: 현재가, dtype: int64
         현재가   등락률
037730  1510  7.36
036360  1790  1.65
005670  1185  1.28

         현재가
037730  1510
036360  1790
005670  1185

### 4.4 로우 인덱싱

**loc**: 인덱스를 기준으로 로우 데이터 추출

**iloc**: 행 번호를 기준으로 로우 데이터 추출

In [ ]:
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005670"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)
# 문자열 인덱스 "037730"에 대응하는 로우 데이터 인덱싱
print(df.loc["037730"])

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [ ]:
print(df.iloc[0]) # 첫 번째 행
print(df.iloc[-1]) # 마지막 행

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object
종목명    ACTS
현재가    1185
등락률    1.28
Name: 005670, dtype: object

In [ ]:
# 불연속적인 여러 행을 슬라이싱
print(df.loc[ ["037730", "036360"]]) # 인덱스 리스트 전달
print(df.iloc[ [0,1]]) # 행 번호 리스트 전달

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

### 4.5 특정 값 가져오기

In [ ]:
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
] # 특정 값 1510을 가져오고 싶다


index = ["037730", "036360", "005670"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)

# df의 로우에서 우선 찾고
print(df.iloc[0])
# 또는 print(df.loc["037730"])

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [ ]:
# 행 번호로 행 선택 후 시리즈 인덱싱
print(df.iloc[0].iloc[1]) # 시리즈 행 번호
print(df.iloc[0].loc["현재가"]) # 시리즈 인덱스
print(df.iloc[0]["현재가"]) # 시리즈 인덱스


# 인덱스로 행 선택 후 시리즈 인덱싱
print(df.loc["037730"].iloc[1]) # 시리즈 행 번호
print(df.loc["037730"].loc["현재가"]) # 시리즈 인덱스
print(df.loc["037730"]["현재가"]) # 시리즈 인덱스

1510
1510
1510
1510
1510
1510

In [ ]:
# loc 속성에 로우 인덱스와 컬럼명을 순서대로 입력하면 특정 로우와 컬럼에 위치하는 값 반환
print(df.loc["037730", "현재가"])
print(df.iloc[0, 1])

1510
1510

In [ ]:
# df의 컬럼을 먼저 인덱싱 후 로우를 선택

print(df["현재가"].iloc[0])
print(df["현재가"].loc["037730"])
print(df["현재가"]["037730"])

1510
1510
1510

### 4.6 특정 범위 가져오기

In [ ]:
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005670"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)

# 첫 번째, 두 번째 행 출력
print(df.loc[["037730", "036360"]])
print(df.iloc[[0,1]])

# 두 개의 컬럼 슬라이싱
df = df.loc[["037730", "036360"]] # 두 개의 행 선택 후 변수 업데이트
df = df[ ["종목명", "현재가"] ] # 두 개의 컬럼 슬라이싱
print(df)

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [ ]:
# 한 번에 슬라이싱 처리
print(df.loc[["037730", "036360"], ["종목명", "현재가"]] )
print(df.iloc[[0,1], [0,1]])

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

### 4.7 데이터프레임 필터링

In [ ]:
from pandas import DataFrame

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005670"]
columns = ["종목명", "현재가", "등락률"]
df = DataFrame(data=data, index=index, columns=columns)

# 불리언 인덱싱
cond = df["현재가"] >= 1400
print(df.loc[cond]) # Ture인 행들을 슬라이싱

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [ ]:
# 데이터 프레임에서 하나의 컬럼만을 가져오고 싶다면
cond = df["현재가"] >= 1400
print(df.loc[cond]["현재가"])
print(df.loc[cond, "현재가"])

037730    1510
036360    1790
Name: 현재가, dtype: int64
037730    1510
036360    1790
Name: 현재가, dtype: int64

In [ ]:
# 복잡한 조건 기술 시 논리 연산자 &(and), |(or), ~(not) 연산자 사용

# & 연산자
cond = (df["현재가"] >= 1400) & (df["현재가"] < 1700) # & 연산자 사용 시 반드시 괄호로 조건을 구분
print(df.loc[cond])

# 연산자 우선순위가 &가 높아서 괄호를 쓰지 않으면 다음과 같이 해석되어 에러 발생
# cond = df["현재가"] >= (1400 & df["현재가"]) < 1700


# Not 연산자
cond = (df["현재가"] >= 1400) & (df["현재가"] < 1700)
# 현재가가 1400 미만이거나 1700 이상인 종목 출력
print(df.loc[~cond])

       종목명   현재가   등락률
037730  3R  1510  7.36
          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28