<a href="https://colab.research.google.com/github/gah508/EPOCH_Beginner/blob/main/Pandas1/jiyun_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 03. 판다스 시리즈

### 3.1 시리즈 소개

In [ ]:
# 설치
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### 3.2 시리즈 생성

In [ ]:
# 시리즈 생성
from pandas import Series

data = [10, 20, 30]
s = Series(data) # 시리즈 객체 생성. 이 때 data라는 변수가 바인딩하는 파이썬 리스트가 초기화자의 인자로 전달
print(s)

0    10
1    20
2    30
dtype: int64

In [ ]:
# 넘파이를 사용한 시리즈 생성
from pandas import Series
import numpy as np

data = np.arange(5)
s = Series(data) # 시리즈를 생성할 대 ndarray 객체를 넘겨줌
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
# 문자열 데이터의 시리즈
data = ["시가", "고가"]
s = Series(data)
print(s)

# 인덱스에는 자동으로 생성된 RangeIndex가 들어있음
# 데이터 타입은 object(판다스의 문자열은 object로 표기된다)

0    시가
1    고가
dtype: object

In [ ]:
# 문자열 + 정수형 타입을 하나의 시리즈로
s = Series(['samsung', 81000])
print(s)
# 전체 데이터가 object 타입이 됨
# object 타입 시리즈는 브로드캐스팅 기능을 활용한 수치 연산이 불가능하므로

# 시리즈에는 같은 데이터 타입을 저장하는 것이 좋다

0    samsung
1      81000
dtype: object

### 3.3 시리즈 인덱스

In [ ]:
# 파이썬의 딕셔너리처럼 시리즈도 각 데이터에 인덱스를 설정할 수 있음
# 인덱스 미설정 시 0부터 시작하는 숫자 값을 RangeIndex 타입으로 생성

# 시리즈 생성 및 인덱스
from pandas import Series

data = [1000, 2000, 3000]
s = Series(data)
print(s.index) # index 변수: 구간 정보를 저장하는 자료구조 RangeIndex 객체, 0부터 2까지 1씩 증가하는 숫자
print(s.index.to_list()) # to_liest 메서드 호출 시 파이썬 리스트로 값을 변환

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [ ]:
# 인덱스 수정
# 시리즈 객체 생성 후 변수에 리스트 혹은 ndarray로 데이터를 전달하면 자동 맵핑된 RangeIndex는 제거되고
# 인덱스를 수정할 수 있음; 데이터와 같은 개수의 인덱스
data = [1000, 2000, 3000]
s = Series(data)
s.index = ["메로나", "구구콘", "하겐다즈"]
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [ ]:
# 시리즈 생성 시 인덱스 지정

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]

s = Series(data, index) # 시리즈를 생성할 때 데이터와 인덱스를 차례로 전달
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [ ]:
# 시리즈는 클래스로 구현돼으며 다음과 같이 초기화자가 정의

Class Series:
  def __init__(self, data=None, index=None, ... ):
pass

# 첫 번째 파라미터: data, 두 번째 파라미터: index
# 파라미터 = None으로 해당값이 입력되지 않을 수도 있음을 알려줌

SyntaxError: invalid syntax (<ipython-input-34-65c735ba5f70>, line 3)

In [ ]:
# keyword argument 파라미터의 이름을 직접 지정

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]

s = Series(data=data, index=index)
# 'ata=data': 등호 왼쪽 Series 클래스에서 정의된 변수 이름; 등호 오른쪽 입력할 데이터가 저장된 변수 이름

# 바인딩된 변수의 이름 변경
v = [1000, 2000, 3000]
k = ["메로나", "구구콘", "하겐다즈"]

s = Series(data=v, index=k)

# keyword argument를 사용하면 파라미터의 순서를 변경해도 됨
s = Series(data, index) # data는 keyword argument를 사용하지 않아 반드시 첫 번째 위치에 data 파라미터가 위치
s = Series(data, index=index) # data는 keyword argument를 사용하지 않아 반드시 첫 번째 위치에 data 파라미터가 위치
s = Series(data=data, index=index)
s = Series(index=index, data=data)

In [ ]:
# reindex 메서드: 새로운 값으로 인덱스를 변경

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)
s2 = s.reindex(["메로나", "비비빅", "구구콘"])
print(s2)

# 기존에 있던 인덱스(메로나, 구구콘)는 기존 값을 그대로 사용, 새로운 인덱스(비비빅)는 NaN 값을 채움

메로나    1000.0
비비빅       NaN
구구콘    2000.0
dtype: float64

In [ ]:
# fillna 메서드: NaN(결측값)을 0으로 채움

print(s2.fillna(0)) # s2가 변경되지 않음

s2 = s.reindex(["메로나", "비비빅", "구구콘"], fill_value = 0) # reindex 메서드 사용 시 한 번에 처리할 수 있음

메로나    1000.0
비비빅       0.0
구구콘    2000.0
dtype: float64

In [ ]:
## 실전 데이터 연습(p.67)

price = [42500,42550,41800,42550,42650]
date = ["2019-05-31","2019-05-30","2019-05-29","2019-05-28","2019-05-27"]
s = Series(price, date)
print(s)

# 딕셔너리를 사용한 시리즈 생성
# 딕셔너리의 key가 시리즈의 index로; value가 시리즈의 데이터로 구성
data = {
    "2019-05-31": 42500,
    "2019-05-30": 42550,
    "2019-05-29": 41800,
    "2019-05-28": 42550,
    "2019-05-27": 42650
}
s = Series(data)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [ ]:
# 인덱스와 값을 분리해서 출력

print(s.index)
print(s.index.dtype)

print(s.values)

Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')
object
[42500 42550 41800 42550 42650]

### 3.4 시리즈 인덱싱

In [ ]:
# 인덱싱: 자료구조에서 하나의 값에 접근하는 것

# 시리즈 객체는 행번호가 자동부여
# 행번호(iloc 연산)와 인덱스(loc 연산) 두 가지 방법으로 인덱싱 가능

# 1. 행 번호 인덱싱: 양수 음수 모두 가능

data = [1000, 2000, 3000]
s = Series(data=data)

print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1])


# 2. 문자열 인덱스 인덱싱

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

print(s.iloc[0])
print(s.loc["메로나"]) # loc연산은 인덱스 !

1000
2000
3000
3000
1000
1000

In [ ]:
# 인덱싱 기호 '[]'
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

print(s["메로나"])
print(s[0])

s1 = Series([10,20,30])
s2 = Series([10,20,30], index = [1,2,3])

print(s1[0]) # RangeIndex 타입 인덱스 자동 부여 인덱스 0을 통해 10 출력
# print(s2[0]) 인덱스 1, 2, 3에 각각 맵핑되었으며, 인덱스 0이 없어 에러 발생


# []인덱싱은 맵핑된 데이터 타입에 따라 loc 혹은 iloc로 해석
s3 = Series([10,20,30], index=['a','b','c'])
print(s3[0])

# 인덱스 인덱싱: 숫자를 사용한 인덱싱만 지원
print(s3.index[0])
print(s3.index[-1])

1000
1000
10
10
a
c

<ipython-input-55-10bb441430de>:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])
<ipython-input-55-10bb441430de>:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s3[0])

### 3.5 시리즈 슬라이싱

In [ ]:
# 시리즈 슬라이싱은 iloc, loc연산 또는 '[]' 기호 사용
from pandas import Series

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

# 행 번호 0부터 2까지의 데이터 슬라이싱
print(s.iloc[0:2])

# loc 연산은 끝 인덱스도 포함하여 출력
print(s.loc["메로나":"구구콘"])

메로나    1000
구구콘    2000
dtype: int64
메로나    1000
구구콘    2000
dtype: int64

In [ ]:
# 불연속 데이터 슬라이싱

# iloc 사용
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

indice = [0,2]
print(s.iloc[indice])
print(s.iloc[ [0,2] ])

# loc 사용
indice2 = ["메로나", "하겐다즈"]
print(s.loc[indice2])
print(s.loc[ ["메로나", "하겐다즈"] ])

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

### 3.6 시리즈 수정/추가/삭제

In [ ]:
from pandas import Series

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

s.loc["메로나"] = 500 # 기존에 있는 인덱스, 값 수정
s.iloc[0] = 500
s["메로나"] = 500

print(s)

s.loc["비비빅"] = 500 # 기존에 없는 인덱스, 값 추가
print(s)

print(s.drop("메로나")) # 값 삭제
# print(s.drop(0)) #error # drop 메서드에서는 행 번호가 아닌 인덱스를 사용해야 한다

# drop 시리즈의 원본을 제거하지 않고 새로운 시리즈 객체를 반환함
# 다음과 같이 drop 메서드를 호출한 결과를 다시 변수에 바인딩하도록 코드를 작성
s = s.drop("메로나")
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
dtype: int64
메로나      500
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

### 3.7 시리즈 연산

In [ ]:
# 시리즈는 넘파이와 동일하게 브로드캐스팅이 적용되며, 같은 인덱스를 갖는 데이터끼리 연산을 수행
from pandas import Series

철수 = Series([10,20,30], index=["NAVER", "SKT", "KT"])
영희 = Series([10,20,30], index=["SKT", "KT", "NAVER"])
가족 = 철수 + 영희
print(가족) # 데이터의 위치와 상관없이 같은 인덱스를 갖는 종목끼리 덧셈을 수행

print(철수*10) # 브로드캐스팅이 적용됨

KT       50
NAVER    40
SKT      30
dtype: int64
NAVER    100
SKT      200
KT       300
dtype: int64

In [ ]:
# 변동폭: 고가와 저가의 차분값 계산
high = Series([42800,42700,42050,42950,43000])
low = Series([42150, 42150, 41300, 42150, 42350])

diff = high - low
print(diff)

print(diff.max()) # 최댓값

0    650
1    550
2    750
3    800
4    650
dtype: int64
800

In [ ]:
# 날짜를 인덱스로 갖는 시리즈에서 변동폭이 가장 큰 날짜 찾기
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800,42700,42050,42950,43000], index = date)
low = Series([42150, 42150, 41300, 42150, 42350], index = date)

diff = high - low
print(diff)

# 반복문을 사용한 최댓값 찾기
max_idx = 0
max_val = 0

for i in range(len(diff)):
  if diff[i] > max_val:
    max_val = diff[i]
    max_idx = i

print(max_idx)
print(diff.index[max_idx])

# idxmax: 최댓값일 때의 인덱스 반환; idxmin: 최솟값일 때의 인덱스 반환
# 반복문을 사용할 필요가 없다
print(diff.idxmax())
print(diff.idxmin())

6/1    650
6/2    550
6/3    750
6/4    800
6/5    650
dtype: int64
3
6/4
6/4
6/2

<ipython-input-78-1d1c7a8a8f52>:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if diff[i] > max_val:
<ipython-input-78-1d1c7a8a8f52>:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  max_val = diff[i]

In [ ]:
# 매일 저가에 사서 고가에 팔았을 경우 수익률
data = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800,42700,42050,42950,4300], index=date)
low = Series([42150, 42150, 41300, 42150, 42350], index=date)

profit = high/low
print(profit)

# 누적수익률: 모든 수익률을 누적해 곱함
print(profit.cumprod())

print(profit.cumprod().iloc[-1]) # 마지막 값

6/1    1.015421
6/2    1.013049
6/3    1.018160
6/4    1.018980
6/5    0.101535
dtype: float64
6/1    1.015421
6/2    1.028671
6/3    1.047351
6/4    1.067230
6/5    0.108361
dtype: float64
0.10836101509172456

In [ ]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

# 5개의 종목에서 중복을 제거하고 업종 리스트를 출력
print(s.unique()) # 시리즈의 values 중 유일한 값들을 ndarray로 반환

# 시리즈 안에 업종의 출현 빈도 계산
print(s.value_counts())

['전기,전자' '운수장비' '서비스업']
전기,전자    2
서비스업     2
운수장비     1
Name: count, dtype: int64

### 3.8 시리즈와 Map

In [ ]:
# Map 동작 원리
def remove_comma(x) :
  print(x, 'in function')
  return x

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)

1,234 in function
5,678 in function
9,876 in function
0    1,234
1    5,678
2    9,876
dtype: object

In [ ]:
from pandas import Series

def remove_comma(x) :
  return int(x.replace(",", "")) # replace 메서드 사용

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)

0    1234
1    5678
2    9876
dtype: int64

In [ ]:
def is_greater_than_5000(x) :
  if x > 5000:
    return "크다"
  else:
    return "작다"

s = Series([1234,5678,9876])
s = s.map(is_greater_than_5000)
print(s)

0    작다
1    크다
2    크다
dtype: object

### 3.9 시리즈 필터링

In [ ]:
# 시리즈 객체 비교 연산
from pandas import Series

data = [42500, 42550, 41800, 42550, 42650]
index = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = Series(data=data, index=index)
cond = s > 42000
print(cond)

# cond라는 변수에 저장된 True, False를 사용해 색인하는 것을 '불리언 인덱싱(색인)' 이라 함

print(s[cond]) # True인 경우만 반환

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool
2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [ ]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200,41850, 42550, 42500]
index = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]

open = Series(data=open, index=index)
close = Series(data=close, index=index)

cond = close > open # 종가가 시가보다 큰지
print(cond)

print(close[cond]) # 종가가 시가보다 높았던 상승 마감한 날의 종가 출력
print(close[close > open]) # 변수를 사용하지 않고 표현

# 상승 마감한 날짜만 출력
print(close.index[close > open])
print(close[close > open].index)

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool
2019-05-30    42550
2019-05-27    42650
dtype: int64
2019-05-30    42550
2019-05-27    42650
dtype: int64
Index(['2019-05-30', '2019-05-27'], dtype='object')
Index(['2019-05-30', '2019-05-27'], dtype='object')

In [ ]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200,41850, 42550, 42500]
index = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]

open = Series(data=open, index=index)
close = Series(data=close, index=index)
diff = close - open
print(diff[close > open]) # close와 open의 인덱스가 같아 조건 비교 및 필터링 가능

2019-05-30    350
2019-05-27    150
dtype: int64

### 3.10 정렬 및 순위

In [ ]:
from pandas import Series

data = [3.1, 2.0, 10.1, 5.1]
index = ["000010", "000020", "000030", "000040"]
s = Series(data=data, index=index)

print(s)

# 정렬 (오름차순)
s1 = s.sort_values()
print(s1)

# 정렬 (내림차순)
s2 = s.sort_values(ascending=False)
print(s2)

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64
000020     2.0
000010     3.1
000040     5.1
000030    10.1
dtype: float64
000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

In [ ]:
data = [3.1, 2.0, 10.1, 3.1]
index = ["000010", "000020", "000030", "000040"]
s = Series(data=data, index=index)
print(s.rank())
# 동일한 값을 갖는 데이터의 순위를 표현하기 위해 rank 값이 float64로 표현

# 값이 큰 데이터를 1등
print(s.rank(ascending = False))

000010    2.5
000020    1.0
000030    4.0
000040    2.5
dtype: float64
000010    2.5
000020    4.0
000030    1.0
000040    2.5
dtype: float64